@font-face {
  font-family: 'made tommy';
  src: url('../fonts/madeTommy.otf');
}

body{
  font-family: 'made tommy' !important;
}


.bg-dark-overlay{
  background: rgba(0,0,0,0.5);
}

.text-dark-overlay{
  color: rgba(0,0,0,0.5);
}

.backHero {
  height: 100vh;
  background-size: 110%;
}

.backOverlay {
  height: 100vh;
  background: rgba(0,0,0,0.4);
}

.backHero-md {
  height: 68vh;
  background-size: 110%;
}

.backOverlay-md {
  height: 68vh;
  background: rgba(0,0,0,0.4);
}

.contentCenter {  
  height: 100vh;
  align-items: center;
}

.contentCenter-md {  
  height: 68vh;
  align-items: center;
}

.text {
  font-size: 12px;
}

.text-purple {
  color: #9180da;
}

.contentMision {
  background: #9180da;
}

.contentBlog {
  background: #2f0172;
}

.fa-circle {
  font-size: 200px;
}

.fa-play{
  font-size: 50px;
}

.btn-purple{
  background: #9180da !important;
  border-radius: 30px !important;
}

.input-contact {
  border-radius: 30px !important;
}

.fa-x2{
  font-size: 25px;
}